.sobre__titulo{
    color: #DA2B1F;
    font-family: Pacifico, cursive;
    font-size: 400;
}

@media screen and (min-width: 0) {
    .sobre__titulo{
        font-size: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .sobre__titulo{
        font-size: 3.1875rem;
    }
}